root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

# We do Markdown processing in tests
[*.md]
trim_trailing_whitespace = false

[*.{json5,sh}]
indent_size = 2

[_scripts/*]
indent_size = 2
